---
import BaseHead from "../components/BaseHead.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import Canvas from "../components/Tree/Canvas.svelte";
import Day from "../components/Day.svelte";
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Day />
    <Canvas client:load />
  </body>
</html>
